            $primary-color: #fff;
            html,
            body {
                background-color: black;
                max-width: 100%;
                margin: 0;
                padding: 0;
                overflow-x: hidden;
                font-family: 'Raleway', sans-serif;
            }
            
            .mainpage {
                display: flex;
                flex-direction: column;
                align-items: center;
                h1 {
                    text-align: center;
                    color: $primary-color;
                }
                p {
                    color: $primary-color;
                    max-width: 90vw;
                    text-align: center;
                    font-size: 1.2rem;
                    letter-spacing: 2px;
                    b {
                        font-weight: bold;
                        color: fuchsia;
                    }
                }
                i {
                    color: goldenrod;
                    font-size: 3rem;
                }
                .giftbox {
                    width: 100%;
                    height: auto;
                    margin-right: 5vw;
                    margin-top: 5vh;
                }
                a {
                    text-decoration: none;
                    background-color: goldenrod;
                    border: 4px goldenrod solid;
                    padding: 15px;
                    margin-top: 5vh;
                    color: $primary-color;
                    cursor: pointer;
                    position: relative;
                    z-index: 0;
                    border-radius: 10px;
                    &:before {
                        content: '';
                        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
                        position: absolute;
                        top: -2px;
                        left: -2px;
                        background-size: 400%;
                        z-index: -1;
                        filter: blur(5px);
                        width: calc(100% + 4px);
                        height: calc(100% + 4px);
                        animation: glowing 20s linear infinite;
                        opacity: 0;
                        transition: opacity .3s ease-in-out;
                        border-radius: 10px;
                    }
                    &:active {
                        color: #000;
                    }
                    &:active:after {
                        background: transparent;
                    }
                    &:hover:before {
                        opacity: 1;
                    }
                    &:after {
                        z-index: -1;
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: #111;
                        left: 0;
                        top: 0;
                        border-radius: 10px;
                    }
                    &:hover {
                        color: #6EB66E;
                    }
                }
            }
            
            @keyframes glowing {
                0% {
                    background-position: 0 0;
                }
                50% {
                    background-position: 400% 0;
                }
                100% {
                    background-position: 0 0;
                }
            }
            
            footer {
                background-color: #6EB66E;
                margin-top: 10vh;
                line-height: 10vh;
                text-align: center;
                a {
                    text-decoration: none;
                    font-size: 1.2rem;
                    color: $primary-color;
                }
            }